# Sort

In [1]:
#Normal sort
a = [4,5,9,23,56,78,8]
a.sort()
a

[4, 5, 8, 9, 23, 56, 78]

In [2]:
#Sort by key, eg: key = length of list
b = ['Nguyen', "Tran", 'Hoang', 'Le', "Do", 'Mac']
b.sort(key = len, reverse= True)
b

['Nguyen', 'Hoang', 'Tran', 'Mac', 'Le', 'Do']

In [3]:
#Cool tips to reverse: using slicing with ::-1
a[::-1]

[78, 56, 23, 9, 8, 5, 4]

# Cool built-in functions

### Enumerate

In [4]:
list_a =['Na', "Vy", 'Dao']
for i,a in enumerate(list_a):
    print(i, 'is', a)

0 is Na
1 is Vy
2 is Dao

### Sorted

In [5]:
a = [7,3,4,9,12,3,4]
sorted(a)

[3, 3, 4, 4, 7, 9, 12]

### Zip

In [6]:
seq1 = ['Nguyen', 'Tran', 'Hoang']
seq2 = ['Thao', "Van", 'Nhu']
zipped = zip(seq1, seq2)
print(list(zipped))

[('Nguyen', 'Thao'), ('Tran', 'Van'), ('Hoang', 'Nhu')]

In [7]:
for a, (i,j) in enumerate(zip(seq1, seq2)):
    print(a+1, i, 'is last name of', j)

1 Nguyen is last name of Thao
2 Tran is last name of Van
3 Hoang is last name of Nhu

In [8]:
# using zip to UNZIP
list_b = [('Nguyen', 'Thao'), ('Tran', 'Van'), ('Hoang', 'Nhu')]
last_name, first_name = zip(*list_b) #using * before list to unzip it!!!

In [9]:
last_name

('Nguyen', 'Tran', 'Hoang')

In [10]:
first_name

('Thao', 'Van', 'Nhu')

# Dictionary

In [11]:
name = {1: 'Nguyen', 2: 'Tran', 3:'Le', 4:'Do', 5:'Hoang'}
name

{1: 'Nguyen', 2: 'Tran', 3: 'Le', 4: 'Do', 5: 'Hoang'}

In [12]:
#add to dict
name[6] ='Van'
name

{1: 'Nguyen', 2: 'Tran', 3: 'Le', 4: 'Do', 5: 'Hoang', 6: 'Van'}

In [13]:
#Delete using DEL 
del name[1]
name

{2: 'Tran', 3: 'Le', 4: 'Do', 5: 'Hoang', 6: 'Van'}

In [14]:
name_pop = name.pop(4)
name, name_pop

({2: 'Tran', 3: 'Le', 5: 'Hoang', 6: 'Van'}, 'Do')

In [15]:
#Insert a dict to a dict using UPDATE
name.update({8:'Vu', 9: 'Dao'})
name

{2: 'Tran', 3: 'Le', 5: 'Hoang', 6: 'Van', 8: 'Vu', 9: 'Dao'}

In [16]:
#create a dict from sequence:
dict_test ={}
for key, value in zip(range(5), reversed(range(5))):
    dict_test[key] = value
dict_test

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [17]:
#or just using dict()
dict_test_2 = dict(zip(range(10), reversed(range(10))))
dict_test_2

{0: 9, 1: 8, 2: 7, 3: 6, 4: 5, 5: 4, 6: 3, 7: 2, 8: 1, 9: 0}