# TUPLE

### Unpack tuples

In [1]:
tup = [4,5,6]
a,b,c = tup

In [2]:
a, b, c

(4, 5, 6)

In [3]:
#nestes tuple
tup = 4,5,(6,7) 
tup

(4, 5, (6, 7))

### Unpack with loop

In [4]:
seq=[(1,2,3),(4,5,6),(7,8,9)]
for a, b, c in seq:
    print('a ={}, b ={}, c={}'.format(a,b,c))

a =1, b =2, c=3
a =4, b =5, c=6
a =7, b =8, c=9

In [5]:
seq=[(1,2,3),(4,5,6),(7,8,9)]
for a, b, c in seq:
    print(a)

1
4
7

### Advance unpack using **_ (* *rest)

In [6]:
values = 1,2,3,4,5
a,b,*rest = values

In [7]:
rest

[3, 4, 5]

In [8]:
a,b

(1, 2)

### Tuple methods

In [9]:
a = (1,2,3,4,4,4,5,6)

In [10]:
a.count(4)

3

# List

In [11]:
list_a = ['daehan', 'minguk', 'manse']

### Add to list

In [12]:
list_a.append('be Na') #add to the end of the list
list_a

['daehan', 'minguk', 'manse', 'be Na']

In [13]:
list_a.insert(1, 'Linh') #add to the specific location in the list
list_a

['daehan', 'Linh', 'minguk', 'manse', 'be Na']

### Remove from list

In [14]:
#remove at a particular index
#list_a.pop('Linh') --> wrong 
list_a.pop(1)
list_a

['daehan', 'minguk', 'manse', 'be Na']

In [15]:
#remove value with 'remove'
list_a.remove('daehan')
list_a

['minguk', 'manse', 'be Na']

In [16]:
#Add to list
list_a.append('hello_kitty')
list_a

['minguk', 'manse', 'be Na', 'hello_kitty']

In [17]:
#Concatenating and combining lists
['a', 'b', 'c'] + ['d','e','f']

['a', 'b', 'c', 'd', 'e', 'f']

In [18]:
list_a.extend(['a','b','c'])

In [19]:
list_a

['minguk', 'manse', 'be Na', 'hello_kitty', 'a', 'b', 'c']